.normal {
  background: linear-gradient(135deg, #fefcea 0%, #a8a78d 100%);
}
.fire {
  background: linear-gradient(135deg, #fefcea 0%, #ee8130 100%);
}
.water {
  background: linear-gradient(135deg, #fefcea 0%, #6390f0 100%);
}
.grass {
  background: linear-gradient(135deg, #fefcea 0%, #7ac74c 100%);
}
.electric {
  background: linear-gradient(135deg, #fefcea 0%, #f7d02c 100%);
}
.ice {
  background: linear-gradient(135deg, #fefcea 0%, #96d9d6 100%);
}
.fighting {
  background: linear-gradient(135deg, #fefcea 0%, #c22e28 100%);
}
.poison {
  background: linear-gradient(135deg, #fefcea 0%, #a33ea1 100%);
}
.ground {
  background: linear-gradient(135deg, #fefcea 0%, #e2bf63 100%);
}
.flying {
  background: linear-gradient(135deg, #fefcea 0%, #a98ff3 100%);
}
.psychic {
  background: linear-gradient(135deg, #fefcea 0%, #f95587 100%);
}
.bug {
  background: linear-gradient(135deg, #fefcea 0%, #a6b91a 100%);
}
.rock {
  background: linear-gradient(135deg, #fefcea 0%, #b6a136 100%);
}
.ghost {
  background: linear-gradient(135deg, #fefcea 0%, #735797 100%);
}
.dragon {
  background: linear-gradient(135deg, #fefcea 0%, #6f35fc 100%);
}
.dark {
  background: linear-gradient(135deg, #fefcea 0%, #705746 100%);
}
.steel {
  background: linear-gradient(135deg, #fefcea 0%, #b7b7ce 100%);
}
.fairy {
  background: linear-gradient(135deg, #fefcea 0%, #d685ad 100%);
}
